{% extends "layouts/main.html" %}

{% set pageName = "Check your answers before sending your application" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}

    <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>

    {{ govukSummaryList({
      rows: [
      {
        key: { text: "What is your child's full name?" },
        value: { text: data['child-name'] if data['child-name'] else "Not provided" },
        actions: {
          items: [{
            href: "/child-name",
            text: "Change",
            visuallyHiddenText: "what is your child's full name?"
          }]
        }
      },
      {
        key: { text: "What school does your child go to?" },
        value: { text: data['child-school'] if data['child-school'] else "Not provided" },
        actions: {
          items: [{
            href: "/child-school",
            text: "Change",
            visuallyHiddenText: "what school does your child go to?"
          }]
        }
      },
      {
        key: { text: "Do you receive any of these benefits?" },
        value: { text: data['receive-benefits'] if data['receive-benefits'] else "Not provided" },
        actions: {
          items: [{
            href: "/receive-benefits",
            text: "Change",
            visuallyHiddenText: "do you receive any of these benefits?"
          }]
        }
      },
      {
        key: { text: "What is your National Insurance number?" },
        value: { text: data['national-insurance-number'] if data['national-insurance-number'] else "Not provided" },
        actions: {
          items: [{
            href: "/national-insurance-number",
            text: "Change",
            visuallyHiddenText: "what is your national insurance number?"
          }]
        }
      },
      {
        key: { text: "What is your email address?" },
        value: { text: data['contact-email'] if data['contact-email'] else "Not provided" },
        actions: {
          items: [{
            href: "/contact-email",
            text: "Change",
            visuallyHiddenText: "what is your email address?"
          }]
        }
      }
      ]
    }) }}

    <form method="post" novalidate>
      <input type="hidden" name="_csrf" value="{{ csrf }}">
      {{ govukButton({ text: "Confirm and send" }) }}
    </form>

  </div>
</div>
{% endblock %}
